.svg-section
  position: absolute
  width: 1024px
  height: 100%
  left: 50%
  margin-left: -480px

  svg
    position: absolute
    stroke-width: 2px
    stroke: #fff

.footer-inner
  svg
    &:nth-child(1)
      top: 100px
      right: -150px
