doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=0.3')
    title Практика Days
    //- fonts
    | <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    | <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    | <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    //- styles
    | <link rel="stylesheet" href="stylesheets/fontcustom.css">
    | <link rel="stylesheet" href="stylesheets/font-awesome.css">
    | <link rel="stylesheet" href="stylesheets/style.css">
    //- libraries
    | <script type='text/javascript' src='scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='scripts/libs/jquery.browser.min.js'></script>
    | <script type='text/javascript' src='scripts/libs/jquery.maskedinput.min.js'></script>
    //- app scripts
    | <script type='text/javascript' src='scripts/app.js'></script>
    | <script type='text/javascript' src='scripts/models/form.js'></script>
    | <script type='text/javascript' src='scripts/views/main_view.js'></script>

  block content
